/* Your styles here */
* {
  width: 100%;
}

/* Header */
header {
  background-color: #222f3f;
  color: white;
  margin-bottom: 2em;
}
header img {
  padding: 0.5em 1em;
  width: 8%;
}
nav ul {
  background-color: #364759;
  list-style-type: none;
  padding: 0.5em 0;
}

nav ul li {
  display: inline;
  margin-left: 1em;
}

nav ul li a {
  font-weight: 500;
  font-size: 1em;
  color: white;
  text-decoration: none;
}

/* Body */
main {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #e9edee;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
}
/* Banner */

.banner {
  background-color: #f56600;
  color: white;
  text-align: center;
  padding: 0.5em 0;
  margin-bottom: 2em;
}

/* Holiday guides */

.holiday-guides p {
  padding-top: 1.5em;
  font-size: 1.2em;
  font-weight: 600;
}

.holiday-guides {
  background-image: url(/assets/images/bg-image.png);
  height: 35px;
  color: white;
  text-align: center;
  padding: 5em 0;
}

/* Gift Grid */
.gift-ideas {
  margin: 2em 0;
  background-color: white;
}
.gift-ideas h2 {
  padding-top: 1em;
  padding-left: 1em;
  font-style: initial;
  font-weight: 600;
  font-size: 1.2em;
}

.gift-grid {
  padding: 1em 0em;
  text-align: center;
  width: 22%;
  padding: 1em 1em;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 20%;
}
.gift-grid img {
  height: 375px;
  width: 300px;
  object-fit: cover;
  border-radius: 5%;
  -webkit-box-shadow: 0px 9px 31px -6px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 9px 31px -6px rgba(0, 0, 0, 0.51);
}

.p {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.gaming,
.audio {
  text-align: center;
  margin: 20px 0;
}

/* Texts */
h1 {
  font-size: 2em;
  font-weight: 700;
}

/* Footer */

.back-to-top {
  background-color: #364759;
  text-align: center;
  padding: 1em 0;
}
.back-to-top a {
  text-decoration: underline;
  color: white;
}

footer img {
  padding: 3em 0;
  width: 13%;
}

footer {
  background-color: #222f3f;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #4c959a;
  padding-left: 0.8em;
  font-size: 0.8em;
  font-weight: 700;
}
